body {
    /*background-image: url('../../img/0f0c7ef0a169f011692fa8ef8a2f1ae7.png');*/
    background-image: url('../img/0f0c7ef0a169f011692fa8ef8a2f1ae7.png');
    background-size: cover;
    /* Isso garante que a imagem de fundo cubra toda a área do corpo */
    background-repeat: no-repeat;
    /* Isso garante que a imagem de fundo não se repita */
    position: absolute;
   /* left: 0px;
    right: 0px;
    top: 0px;
    bottom: 0px;*/
}

.header {
    display: flex;
    align-items: center;
    /* Alinha os elementos verticalmente */
    left: 352px;
    width: 100%;
    max-width: 1216px;
    justify-content: space-between;
    padding: 0 48px;
}

.elemento {
    width: 1216px;
    /* Largura fixa de 1216 pixels */
    height: auto;
    /* Altura ajustada automaticamente para abraçar o conteúdo */
    left: 352px;
    /* Distância da esquerda de 352 pixels */
    justify-content: space-between;
    /* Espaço entre os elementos */
    padding: 48px 0;
    /* Padding: 48px em cima e embaixo, 0px nos lados */

}

.logo {
    background-image: url('../img/logo.svg');
    background-size: contain;
    background-repeat: no-repeat;
    width: 100px;
    height: 100px;
    margin-right: 12px;
    /* Espaçamento entre o logo e os ícones das redes sociais */
}

.redes-sociais img {
    width: 30px;
    /* Largura dos ícones das redes sociais */
    height: auto;
    /* Altura ajustada automaticamente para manter a proporção */
    margin-left: 12px;
    /* Espaçamento entre os ícones */
}


.google {
    background-image: url('../img/link-google.png');
}

.instagram {
    background-image: url('../img/link-instagram.png')
}

.twitter {
    background-image: url('../img/link-twitter.png')
}

.facebook {
    background-image: url('../img/logo-facebook.png')
}

.grupo {
    display: flex;
    /*flex-direction: column; /* Alinha os elementos verticalmente */
    top: 320px;
    /* Define a distância do topo como 320 pixels */
    align-items: center;
    /* Alinha os elementos verticalmente */
    left: 352px;
    width: 100%;
    justify-content: space-between;
    padding: 0 48px;
}

.ghost {
    /*width: 174px;*/
    height: 223px;
    border-radius: 38.25px;
    margin-left: auto;
    display: flex;
    width: 20%;
    /* Define a largura para 50% */
}

.ghost img {
    max-width: 100%; 
    max-height: 100%; 
    border-radius: 38.25px; 
    object-fit: contain; 
    object-position: center; 
}

.sinopse {
    width: 50%;
    /* Define a largura para 50% */
}

/*Botões*/

.assistir-agora {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 8px;

    width: 240px;
    height: 42px;

    background: #F1A5B1;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;

}

.assistir-trailer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 14px 32px;
    gap: 8px;

    width: 240px;
    height: 42px;
    border-radius: 4px;

    flex: none;
    order: 0;
    flex-grow: 0;

    border: 2px solid #F1A5B1;
    border-radius: 4px;

}

.button-group {
    border: 2px solid #007bff;
    background-color: transparent;
    padding: 10px 20px;
    font-family: inherit;
    cursor: pointer;
    outline: none;
    transition: background-color 0.3s ease;
}